[resource]
# resource [working, accounting]
role = accounting


[server]
# environ [debug, public, private]
environ = debug
# host: in case of public the host will be 0.0.0.0
host = localhost
port = 5002

[batch]
# system can be: SGE, ...(add more modules)
system = SGE
# ACCOUNTING SERVER PARAMETERS
bdocker_accounting=/home/jorge/bdocker_accounting
#bdocker_accounting=/opt/sge/default/common/bdocker_accounting

[credentials]
token_store = /home/jorge/Dropbox/INDIGO_DOCKER/bdocker/bdocker/tests/token_store.yml
